body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin-top: 150px; /* Ajusta según la altura del header */

}

/* Header */
.header {
    background-color: #2c3e50;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: fixed; /* Fija el header */
    top: 0; /* Lo mantiene en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000; /* Lo coloca por encima de otros elementos */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


.header .logo {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen y el texto */
}

.header .logo img {
    height: 60px; /* Ajusta la altura de la imagen */
    width: auto;
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    transition: transform 0.3s ease; /* Animación para la imagen */
}

.header .logo img:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

.header .logo h1 {
    margin: 0;
    font-size: 28px;
    color: #ecf0f1;
    font-weight: bold;
}

.header .logo p {
    margin: 0;
    font-size: 14px;
    color: #bdc3c7;
}

/* Navegación */
.header .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .navigation ul li {
    margin: 0 15px;
}

.header .navigation ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
}

.header .navigation ul li a:hover {
    color: #1abc9c;
    background-color: #34495e;
    border-radius: 5px;
}

/* Opciones de usuario */
.header .user-options button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header .user-options button:hover {
    background-color: #16a085;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
    }

    .header .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .header .user-options {
        margin-top: 10px;
    }
}

/* Banner principal */
.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
}

.main-banner .banner-content h2 {
    font-size: 36px;
    color: #34495e;
    margin-bottom: 10px;
}

.main-banner .banner-content p {
    font-size: 20px;
    color: #777;
    margin-bottom: 20px;
}

.main-banner .cta-button {
    background-color: #1abc9c;
    color: #fff;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main-banner .cta-button:hover {
    background-color: #16a085;
}

.main-banner .banner-image img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
}

/* Slider */
.slider {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slider li {
    width: 100%;
    list-style: none;
    align-items: center;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}

@keyframes cambio {
    0%, 20% { margin-left: 0; }
    25%, 45% { margin-left: -100%; }
    50%, 70% { margin-left: -200%; }
    75%, 100% { margin-left: -300%; }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .slider, .slider ul, .slider img {
        height: 100vh;
    }
}

/* Sección Sobre Nosotros */
.about-us {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.about-us .about-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-us .about-item {
    flex: 1;
    margin: 0 15px;
}

.about-us .about-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.about-us .about-item h3 {
    color: #34495e;
    font-size: 22px;
    margin-bottom: 10px;
}

.about-us .about-item p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

/* Galería de imágenes */
.image-gallery {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.gallery-item {
    text-align: center;
    margin: 0 10px;
}

.gallery-item a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 300px;
}

.gallery-item a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #34495e;
}

/* Sección de contacto */
.contact-container {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.contact-info {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    color: #1abc9c;
    margin: 10px 0;
}

.contact-info h3 i {
    margin-right: 8px;
    color: #1abc9c;
    transition: color 0.3s;
}

.contact-info h3:hover i {
    color: #16a085;
}

.form-container {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

.contact-form button {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #16a085;
}

/* Footer */
footer {
    background-color: #34495e;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

footer p {
    margin: 0;
}
#about-us {
    padding: 60px 0;
    background-color: #f9f9f9;
}

#about-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-us .about-us-text {
    flex: 1;
    padding: 20px;
    border: 1px solid #1abc9c;
    border-radius: 10px;
    text-align: center; /* Centrar texto */
    background-color: #fff; /* Fondo blanco para el cuadro */
}

#about-us .about-us-text h2 {
    color: #34495e;
    font-size: 26px;
    margin-bottom: 10px;
}

#about-us .about-us-text h3 {
    color: #1abc9c;
    font-size: 20px;
    margin-bottom: 10px;
}

#about-us .about-us-text p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

#about-us .about-us-image img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección Visión, Misión y Valores */
#vision-mission {
    padding: 60px 0;
}

#vision-mission .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vision-mission .vision-mission-text {
    flex: 1;
    padding: 20px;
    border: 1px solid #1abc9c;
    border-radius: 10px;
    text-align: center; /* Centrar texto */
    background-color: #fff; /* Fondo blanco para el cuadro */
}

#vision-mission h3 {
    color: #34495e;
    font-size: 22px;
    margin-bottom: 10px;
}

#vision-mission p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

#vision-mission .vision-mission-image img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #34495e;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

footer p {
    margin: 0;
}
.about {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
    color: #34495e;
}

.about h3 {
    margin-top: 20px;
    color: #1abc9c;
}

.about p {
    margin: 10px 0;
}

.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    margin: 10px 0;
}
.slider {
  overflow: hidden;
  width: 100%;
  height: 100vh; /* Para que ocupe todo el alto de la pantalla */
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
  height: 100%; /* Hace que las imágenes se ajusten al contenedor */
  margin: 0;
  padding: 0;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que las imágenes se ajusten sin distorsionarse */
}

/* Animación del carrusel */
@keyframes cambio {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  25% { margin-left: -100%; }
  45% { margin-left: -100%; }

  50% { margin-left: -200%; }
  70% { margin-left: -200%; }

  75% { margin-left: -300%; }
  100% { margin-left: -300%; }
}

/* Responsivo */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider, .slider ul, .slider img {
      height: 100vh;
  }
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

